# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db
